
html {
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 100%;
}


/* ----------------------Landing Screen----------------------*/


.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("BackgroundImages/Startbildschirm_mountain_bird.png");
    background-repeat: no-repeat;
    display: table; /* oben der platz ist weck */
    background-size: cover;
}

.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10% ;
}
.content img{
   width: 100%;
}

.par{
    padding: 10px;
}

.btn{
    font-family: Arial, serif;
    background: none;
    font-size: 160%;
    font-weight: 400;
    color: #fcf8e3;
    text-decoration: none;
    text-transform: uppercase;
    border:  2px solid #fcf8e3;
    padding: 10px 20px;
    border-radius: 11px;
    transition: all 0.5s;

}

.btn:hover{
    color: #c4e3f3 ;
    border: solid  #c4e3f3 2px;
}


/* ----------------------Navigation----------------------*/


/*Nav Bar */
.navbar-toggler{
    outline: none;
    padding: 0;
}

.navbar-toggler img{
    width: 25px;
}

.navbar-brand img{
    width: 300px;
}

.navbar {
    background-color: #FFFFFF !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.nav-link{
    color: #245269 !important;
    font-weight: 600;
    margin-left: 25px;
    font-size: 30px;
}
#navbarNav{
    margin-left: 500px;
}


/* ----------------------About Us----------------------*/

.wrapper{
    margin: 50px 50px;
    border-radius: 40px;
    padding-bottom: 40px;
    box-shadow: 0 20px 45px 2px rgba(65, 108, 117, 0.6);
    background-color: rgba(120, 0, 0, 0);
}

.about{
    padding: 5% 10%;
    text-align: center !important;

}

.titel{
    margin-top: 30px;
    margin-bottom: 40px;
    color: #4c5b72;
    text-transform: uppercase;
    font-size: 50px;
    word-spacing: 6px;
    letter-spacing: 1.5px;
    font-family: Arial, serif;
}

.logo3{
    float: left;
    padding-top: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 25%;
}
.logo3 img{
    width: 100%;
}

.button {
    display:inline-block;
    justify-content: center;
}

.btn3{
    font-family: Arial, serif;
    background: none;
    font-size: 170%;
    font-weight: 400;
    color: #4c5b72;
    text-decoration: none;
    text-transform: uppercase;
    border:  2px solid #4c5b72;
    padding: 10px 20px;
    border-radius: 11px;
    transition: all 0.5s;
}

.btn3:hover{
    color: #c4e3f3 ;
    border: solid  #c4e3f3 2px;
    text-decoration: none !important;
}

.btn2{
    font-family: Arial, serif;
    background: #4c5b72;
    font-size: 170%;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    border:  2px solid #4c5b72;
    padding: 10px 20px;
    border-radius: 11px;
    transition: all 0.5s;
    margin-right: 10px;
}

.btn2:hover{
    color: #c4e3f3 ;
    background-color: #FFFFFF;
    border: solid  #c4e3f3 2px;
    text-decoration: none !important;
}

 .text{
     margin-top: 5px;
     font-size: 30px;
     font-family: Arial, serif;
     margin-left: 20px;
     margin-bottom: 30px;
 }


/* ----------------------Info Teil----------------------*/


.info{
    /*background-color: #4c5b72;*/
    padding: 2% 10%;
    text-align: center !important;
    margin-bottom: 20px;
}

.logo2{
    float: right;
    margin-left: 10px;
}
.titel2{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #4c5b72;
    text-transform: uppercase;
    font-size: 55px;
    word-spacing: 6px;
    letter-spacing: 1.2px;
    font-family: Arial, serif;
}

.categories{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.categories-item{
    width: 30%;
}
.categories-item img{
    width: 90%;
    margin-right: 5px;
}
.categories-item img:hover {
    -webkit-animation: shake 1s;
    animation: pulse 1s;
}
.wrapper2 p{
    margin: 45px 20px;
    border-radius: 20px;
    padding-top: 20px ;
    padding-bottom: 20px;
    box-shadow: 0 10px 40px 2px rgba(65, 108, 117, 0.7);
    background-color: rgba(120, 0, 0, 0);
}


/* ----------------------Footer----------------------*/


.footer{
    width: 100%;
    display: block;
    padding: 60px 0;
    box-sizing: border-box;
    background-color: #18181a;
}
.inner-footer{
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 100%;

}
.inner-footer .logo-container{
    display: block;
    width: 35%;
    float: left;
    height: 100%;
    margin-right: 180px;
}
.inner-footer .logo-container img{
    width: 60%;
    height: auto;

}
.inner-footer .footer-Links{
    margin-left: 30px;
    margin-right: 10px;
    padding-left: 50px;
    float: right !important;
    height: 200px;
}

.inner-footer .footer-links a{
    font-family: Arial, serif;
    font-size: 22px;
    color: #FFFFFF;
    display: flex;
    font-weight: 200;
    padding-bottom: 5px;
    padding-right: 20px;
    text-decoration: none;
    float: left;
}
.inner-footer .footer-links a:first-child{
    color: #c4e3f3;
    pointer-events: none;
}


/* ----------------------Media Query----------------------*/


@media screen and (max-width: 900px) {
    .content{
        padding-bottom: 30%;
    }
    .content img{
         max-width: 90%;
    }
    .btn{
        font-size: 110%;
        padding: 9px 17px;
    }


}
@media screen and (max-width: 768px) {
    .content{
        padding-bottom: 40%;
    }
    .content img{
        max-width: 80%;
    }
    .btn{
        font-size: 110%;
        padding: 7px 15px;
    }
    .titel{

    }
}
@media screen and (max-width: 480px) {
    .content{
        padding-bottom: 50%;
    }
    .content img{
        max-width: 90%;
    }
    .btn{
        font-size: 75%;
        padding: 6px 14px;
    }
    .titel{

    }
}

