/*des is des hintergrundbild*/
.desishintergrundbild{
    background: transparent url("BackgroundImages/login-hintergrund.jpg") no-repeat 0 0;
    height: 1600px;
    width: 100%;
    background-size: 100%;
}
/*des is der titel*/
.name{
    position: absolute;
    top: 20%;
    left: 50%;
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    word-spacing: 6px;
    letter-spacing: 2px;
    font-family: Arial, serif;
    font-weight: 700;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px black;
}
/*des is der text unter der überschrift*/
.col-xs-13{
    position: absolute;
    top: 35%;
    left: 50%;
    color: white;
    font-family: Arial, serif;
    font-size: 20px;
    text-align: center;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px black;
}
/*des is der text zum benutzernamen eingabefeld*/
.col-md-2{
    position: absolute;
    top: 50%;
    left: 40.3%;
    font-family: Arial, serif;
    font-size: 19px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px black;
}
/*des is der text zum passwort eingabefeld*/
.col-md-3{
    position: absolute;
    top: 54%;
    left: 42%;
    font-family: Arial, serif;
    font-size: 19px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 5px black;
}
/*benutzernamen eingabefeld*/
.benutzername{
    position: absolute;
    top: 50%;
    left: 57.5%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    border:  2px solid black;
    color: black;
    font-weight:400;
    border-radius: 11px;
    text-align: center;
    background: white;
}
/*passwort eingabefeld*/
.passwort{
    position: absolute;
    top: 53.9%;
    left: 57.5%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    border: 2px solid black;
    color: black;
    font-weight:400;
    border-radius: 11px;
    text-align: center;
    background: white;
}

/*des is der link zur anmeldung*/
.registerOverlay{
    text-decoration: #3e8f3e;
    color: #2194E0;
    transform: translate(-50%, -50%);
    border: 2px solid #2194E0;
    border-radius: 11px;
    margin: 6px;
    padding: 2.5px 5px;
}

::placeholder{
    color: black;
    font-size: 70%;
    text-align: center;
}

.wrapper{
    text-align: center;
}

/*zeug fürs Registrieren*/

/*überschrift*/

.registerüberschrift{
    position: absolute;
    top: 144%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 50px;
    word-spacing: 6px;
    letter-spacing: 2px;
    font-family: Arial, serif;
    font-weight: 700;
    text-shadow: 0 0 5px black;
    color: white;
}

/*unterschrift*/
.registerunterschrift{
    position: absolute;
    top: 162%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
/*text zum benutzername*/
.reisterbenutzertext{
    position: absolute;
    top: 180%;
    left: 42.3%;
    transform: translate(-50%, -50%);
    font-family: Arial, serif;
    font-size: 19px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 5px black;
}
/*text zum passwort*/
.reisterpassworttext{
    position: absolute;
    top: 183.9%;;
    left: 44.21%;
    transform: translate(-50%, -50%);
    font-family: Arial, serif;
    font-size: 19px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 5px black;
}
/*text zum passwort 2*/
.reisterpassworttext2{
    position: absolute;
    top: 187.8%;
    left: 39%;
    transform: translate(-50%, -50%);
    font-family: Arial, serif;
    font-size: 19px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 5px black;
}
/*benutzername eingabe*/
.registerbenutzername{
    position: absolute;
    top: 180%;
    left: 60.5%;
    transform: translate(-50%, -50%);
    border-radius: 11px;
    font-size: 20px;
    text-align: center;
    border:  2px solid black;
}
/*passwort eingabe*/
.registerpasswort{
    position: absolute;
    top: 183.9%;
    left: 60.5%;
    transform: translate(-50%, -50%);
    border-radius: 11px;
    font-size: 20px;
    text-align: center;
    border:  2px solid black;
}
/*passwort2 eingabe*/
.registerpasswort2{
    position: absolute;
    top: 187.8%;
    left: 60.5%;
    transform: translate(-50%, -50%);
    border-radius: 11px;
    font-size: 20px;
    text-align: center;
    border:  2px solid black;
}
/*registrierenbutton*/
.modal-footer{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*abmeldebutton*/
.abmeldebutton{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}
/*angemeldetals*/
.angemeldetals{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
/*logouterfolgreich*/
.logouterfolgreich{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
/*siesindabgemeldet*/
.siesindabgemeldet{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}